
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header, footer {
  background-color: #1F2937;
}

header, footer {
  padding: 0 15%;
}

footer {
  display: flex;
  justify-content: space-around;
  font-size:18px;
  color: #E5E7EB;
}

footer p {
  margin: 1.5em;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  margin: 0;
}

.nav li {
  list-style: none;
  padding: 1em;
  margin: 0;
}

.nav li:last-child {
  padding-right: 0;
}

.hero-logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 800;
}

.hero-links a {
  text-decoration: none;
  font-size:18px;
  color: #E5E7EB;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  margin: 0 auto;
}

.hero-secondary-text {
  font-size:18px;
  color: #E5E7EB;
  margin: 12px auto;
}

.hero-content {
  display: flex;
  padding: 120px 0;
}

.hero-main {
  flex: 1;
  padding-right: 40px;
}

.hero-image {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size:18px;
  color: #E5E7EB;
  background-color: #707070;
}

.sign-up-button {
  background-color: #3882F6;
  color: #F9FAF8;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 0.5em 2em;
}

.info-section {
  padding-bottom: 120px;
}

.info-heading {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 150px;
  align-items: center;
}

.image-container {
  width: 150px;
  height: 150px;
  border: 3px solid #3882F6;
  border-radius: 18px;
}

.image-subtext {
  text-align: center;
  color: #707070;
}

.quote-section {
  padding: 120px 0;
  background-color: #E5E7EB;
  color: #1F2937; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-section p {
  margin: 5px;
}

.quote {
  width: 55%;
  font-size: 36px;
  font-style: italic;
}

.quote-author {
  width: 50%;
  font-size: 24px;
  font-weight: bold;
  text-align: right;
}


